<ul class="nav nav-pills">
    <li class="<?php echo $this->active=='perfil'?'active':''?>">
        <a href="<?php echo $this->basePath('user')?>">Perfil</a>
    </li>
    <li class="<?php echo $this->active=='listado'?'active':''?>">
        <a href="<?php echo $this->basePath('application/application/listado')?>">Listado usuarios</a></li>
</ul>