<?php
$socialSignIn = true;
?>
<div class="row">
    <div class="col-md-6">
        <?php
        if ($this->options->getSocialLoginOnly() == false) {
            echo $this->zfcUserLogin;
        }
        ?>
    </div>
    <div class="col-md-6">
        <?php
        foreach ($this->options->getEnabledProviders() as $provider) :


            if ($socialSignIn) :
                ?>
                <h1>Tambien puedes registrarte con:</h1>
                <?php
                $socialSignIn = false;
            endif;
            echo $this->socialSignInButton($provider, $this->redirect);
        endforeach;
        ?>
    </div>
</div>

