<?php
echo $this->partial('partial/menu.phtml', array(
    'active' => ''));
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="form-group">
    <?php
    echo $this->formRow($form->get('displayName'));
    ?>
</div>
<div class="form-group">
    <?php
    echo $this->formRow($form->get('username'));
    ?>
</div>
<div class="form-group">
    <?php
    echo $this->formRow($form->get('email'));
    ?>
</div>

<div class="form-group">
    <?php
    echo $this->formSubmit($form->get('submit'));
    ?>
</div>

<?php
echo $this->form()->closeTag();
?>


