<?php
echo $this->partial('partial/menu.phtml', array(
    'active' => 'listado'));
?>
<p class="page-header">
    Listado de Usuarios
</p>

<table class="table table-hover table-striped">
    <tr>
        <td>nombres</td>
        <td>usuario</td>
        <td>correo</td>
        <td><a href="<?php echo $this->basePath('application/application/add-user') ?>" class="btn btn-info">Crear usuario</a></td>
    </tr>
    <?php
    foreach ($usuarios as $usuario):
        ?>
        <tr>
            <td><?php echo $usuario->getDisplayName() ?></td>
            <td><?php echo $usuario->getUsername() ?></td>
            <td><?php echo $usuario->getEmail() ?></td>
            <td>
                <a class="btn btn-xs btn-default" href="<?php echo $this->basePath('application/application/ver-tweets/'.$usuario->getUserId())?>">
                    Ver tweets
                </a>
                <a class="btn btn-xs btn-default" href="<?php echo $this->basePath('application/application/edit-user/'.$usuario->getUserId())?>">
                    Editar
                </a>
                <a class="btn btn-xs btn-default" href="<?php echo $this->basePath('application/application/delete/'.$usuario->getUserId())?>">
                    Eliminar
                </a>
            </td>
        </tr>
        <?php
    endforeach;
    ?>
</table>