<?php
echo $this->partial('partial/menu.phtml', array(
    'active' => ''));
?>
<p class="page-header">
    Tweets
</p>

<table class="table table-hover table-striped">
   
    <?php
    
  
    foreach ($tweets as $tweet):
        ?>
        <tr>
            <td><?php echo $tweet->user->name; ?></td>
            <td><?php echo $tweet->text ?></td>
            <td><?php echo date('d/m/Y h:i:s',strtotime($tweet->created_at)); ?></td>
           
            
        </tr>
        <?php
    endforeach;
    ?>
</table>