
<?php
echo $this->partial('partial/menu.phtml', array(
    'active' => 'perfil'));
?>
<p class="page-header">
<div style="float:left; padding-right:16px;">
    <?php echo $this->gravatar($this->zfcUserIdentity()->getEmail()) ?>
</div>
<h3><?php echo $this->translate('Binvenido'); ?>, <?php echo $this->zfcUserDisplayName() ?>!</h3>

<div style="clear:both;"></div>
</p>

